.footer,
.footer a {
    background-color: #4d4c5c;
    color: #FFF !important;
    font-size: 14px;
    line-height: 24px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer {
    padding-top: 1em;
    padding-bottom: 1.2em;
    /*height: 60px;*/
    text-align: center;
}