.footer,
.footer a {
    color: #000 !important;
    font-size: 14px;
    line-height: 24px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer {
    padding-top: 1em;
    padding-bottom: 1.2em;
    text-align: center;
    width: 100%;
    /* border-top: #008ff8 2px solid; */
}