.part6 {
    height: auto;
    background-image: url('./part6.jpg');
    background-position: 51% 0;
    background-size: auto 86%;
}

.part6 .part-in {
    margin-top: 110px;
    position: relative;
}

.part6 .swiper-container {
    width: 94%;
    padding-bottom: 20px;
    margin: 0 auto;
    overflow: visible;
}

.part6 .swiper-container img {
    width: 100%;
    height: auto;
}

.part6 .swiper-pagination {
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.part6 .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #d2d2d2;
    opacity: 1;
    /* border-radius: 0; */
}

.part6 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f19149;
    width: 20px;
    height: 20px;
}

.part6 .swiper-button-prev,
.part6 .swiper-button-next {
    display: none;
}

.part6 .swiper-button-prev {
    left: -60px;
}

.part6 .swiper-button-next {
    right: -60px;
}

.part6 .part-pics {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.part6 .pic {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 4px 5.88px 0.12px rgba(17, 127, 187, 0.33);
    margin-bottom: 0;
}