.part-pics {
    position: relative;
    width: 110%;
}

.pic {
    width: 316px;
    background-color: #FFF;
    box-shadow: 0px 4px 5.88px 0.12px rgba(17, 127, 187, 0.33);
}

.pic-img,
.pic img {
    width: 100%;
    height: 220px;
}

.pic-img {
    position: relative;
}

.pic-img:before {
    position: absolute;
    display: block;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 264%);
    content: '';
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.pic-img:hover:before {
    display: none;
}

.pic-title {
    padding: 15px 10px;
}

.layout-mod1 .pic {
    float: left;
    margin-right: 26px;
}

.layout-mod1 .pic:nth-child(1) {
    clear: both;
    margin-left: 684px;
    margin-right: 0;
    margin-bottom: 40px;
}

.layout-mod2 .pic {
    float: left;
    margin-right: 26px;
}

.layout-mod2 .pic {
    width: 232px;
}

.layout-mod2 .pic-img,
.layout-mod2 .pic img {
    width: 100%;
    height: 163px;
}